<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>1081648621826-ka1hollgfgleuvphd922ufkp7cjl6nef.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.1081648621826-ka1hollgfgleuvphd922ufkp7cjl6nef</string>
	<key>API_KEY</key>
	<string>AIzaSyCUzUdAENX0eJ3H7SY17g4IbaDW3SNAKCk</string>
	<key>GCM_SENDER_ID</key>
	<string>1081648621826</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>AppleAcademy.ChatApp</string>
	<key>PROJECT_ID</key>
	<string>new-chatapp-8f91d</string>
	<key>STORAGE_BUCKET</key>
	<string>new-chatapp-8f91d.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1081648621826:ios:adf55a4fac13bfe9b7fa1b</string>
</dict>
</plist>